/** Contains styles for visual deck view. */
#hoverCard {
  position: absolute;
  z-index: 999;
  margin-left: 15px;
}

.deck {
  max-width: 900px;
  overflow: auto;
}

.deckSeparator {
	max-width: 900px;
	margin-left: 0;
}

.cardStack {
	width: 107px;
	height: 195px;
	float: left;
	margin-right: 11px;
}

.cardStack a {
	margin-right: 7px;
	position: absolute;
	z-index: 1;
}
.cardStack a:nth-of-type(2) {
	margin-left: 4px;
	margin-top: 11px;
	z-index: 2;
}
.cardStack a:nth-of-type(3) {
	margin-left: 8px;
	margin-top: 22px;
	z-index: 3;
}
.cardStack a:nth-of-type(4) {
	margin-left: 12px;
	margin-top: 33px;
	z-index: 4;
}

img.card {
	color: #212121;
	box-shadow: 3px 4px 6px rgba(0,0,0,0.5); 
	-moz-box-shadow: 3px 4px 4px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 3px 4px 4px #000 rgba(0,0,0,0.5); 
}

img.card.small, .demoDeck.small { width: 100px; height: 142px; }
img.card.large, .demoDeck.large { width: 250px; }


.deckRow {
	overflow: auto;
}

.overlayCount {
  position: absolute;
  color: #DDD;
  font-family: "Trebuchet MS",Arial;
  font-size: 62px;
  margin-top: 33px;
  text-align: center;
  width: 100px;
  opacity: 0.75;
  z-index: 2;
  font-weight: bold;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}

img.thumbnail {
  display: inline;
}

/*
img.thumbnail:hover {
	-moz-transform: rotate(5deg);
	-moz-transform-origin: 0 100%;
}

img.thumbnail.ui-draggable {
	-moz-transform: 0;
}
*/

.demoDecks {
	max-width: 1096px;;
	overflow: auto;
	margin: 0 auto;
}
.demoDeck {
	float: left;
	margin-bottom: 55px;
	margin-right: 32px;
}

.demoDeck img { position: absolute; }
/*.demoCard:nth-of-type(2) { margin: 20px 8px; z-index: 1 }
.demoCard:nth-of-type(3) { margin: 32px 12px; z-index: 2 }
.demoCard:nth-of-type(4) { margin: 44px 16px; z-index: 3 }
.demoCard:nth-of-type(5) { margin: 56px 20px; z-index: 4 }
.demoCard:nth-of-type(6) { margin: 68px 24px; z-index: 5 }
.demoCard:nth-of-type(7) { margin: 80px 28px; z-index: 6 }
.demoCard:nth-of-type(8) { margin: 92px 32px; z-index: 7 }
.demoCard:nth-of-type(9) { margin: 104px 36px; z-index: 8 }
.demoCard:nth-of-type(10) { margin: 116px 40px; z-index: 9 }
.demoCard:nth-of-type(11) { margin: 128px 44px; z-index: 10 }
.demoCard:nth-of-type(12) { margin: 140px 48px; z-index: 11 }
.demoCard:nth-of-type(13) { margin: 152px 52px; z-index: 12 }
.demoCard:nth-of-type(14) { margin: 164px 56px; z-index: 13 }
.demoCard:nth-of-type(15) { margin: 176px 60px; z-index: 14 }
.demoCard:nth-of-type(16) { margin: 188px 64px; z-index: 15 }
*/

.deckTip {
	background-color: #EEC;
	display: none;
	margin: -15px 0 0 15px;
	padding: 8px 10px;
	position: absolute;
	text-shadow: 1px 1px #CC9;
	z-index: 5;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

.demoDeckGroup {
	float: left;
	/*background-color: rgba(0,0,0,0.2);
	border-radius: 15px;
	-moz-border-radius: 15px;*/
	padding: 10px;
	margin: 0 10px 10px 0;
	min-width: 665px;
}
.demoDeckGroup h1 {
	font-size: 20px;
	margin-bottom: 10px;
}
.similarDecks .demoDeckGroup {
	width: 665px;
}
